@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
--Dark-Violet: hsl(256, 26%, 20%);
--Grayish-Blue: hsl(216, 30%, 68%);
--Very-Dark-Violet: hsl(270, 9%, 17%);
--Dark-Grayish-Violet:hsl(273, 4%, 51%);
--Very-Light-Gray:hsl(0, 0%, 98%);
}
body{
font-family: 'Karla', sans-serif 'DM Serif Display', serif;
font-size: 16px;
font-weight: 400;
}

header .logo{
    display: flex;
    justify-content: center;
    height: 30px;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin:10px 150px;
}
div .logo{
    align-items: center;
}
.content-wrapper nav a {
    text-decoration: none;
    font-size: 16px;
    color: hsl(273, 4%, 51%);
    padding: 0px 10px;
    cursor: pointer;
}
.content-wrapper a:hover{
    color: hsl(270, 9%, 17%);
    font-weight: 700;
}
.content-wrapper button {
    background-color: white;
    font-size: 12px;
    font-size: bold;
    width: 130px;
    height: 30px;
    cursor: pointer;
}
.content-wrapper button:hover{
    background-color:hsl(270, 9%, 17%);
    color: white;
}
.family-section {
display: flex;
justify-content: space-around;
align-items: center;
background-color:hsl(256, 26%, 20%);
}
.family-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}
.family-text-container h1{
font-size: 80px;
font-weight: 700;
line-height: 0.8;
margin-bottom: 30px;
}
.family-text-container p {
    color:hsl(0, 0%, 98%) ;
    font-weight: 500;
}
.family-text-container button {
    background-color: hsl(256, 26%, 20%);
    border: 1px solid white;
    color: white;
    font-size: 12px;
    font-size: bold;
    width: 130px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
}
.family-text-container button:hover{
    background-color: white;
    color: black;
}
.family-img-container img {
    display: flex;
    width: 80%;
    margin-top: 70px;
}
h2{
    font-size: 70px;
    margin:70px 150px;
}
.features-section{
    display: flex;
    margin:10px 150px;

}
.feature-itims {
    margin: 10px;
}
.features-section img {
    margin-bottom: 30px;
    width: 80px;
}
.features-section h3 {
    margin-bottom: 20px;
}
.features-section p{
    color: hsl(273, 4%, 51%);
}
.how-we-work {
    background-color:hsl(256, 26%, 20%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:70px 150px;
}
.how-we-work h1{
    color: white;
    margin: 40px 80px;
    font-size: 50px;
}
.how-we-work button{
    background-color: hsl(256, 26%, 20%);
    margin-right: 80px;
    width: 130px;
    height: 30px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.how-we-work button:hover{
    background-color: white;
    color: hsl(256, 26%, 20%);
    font-weight: bold;
}
footer{
    position: relative;
    background-color:  hsl(0, 0%, 98%);
    }
footer .footer-img {
position: absolute;
margin: 20px;
}
footer div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin:10px 150px;
    margin-bottom: 20px;
}
footer img:first-child {
    margin-right: 800px;
    }
.list-items{
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
    margin-top: 20px;
}
.list-items ul li a {
text-decoration: none;
color:hsl(270, 9%, 17%);
}
li{
    list-style:none ;
    margin-bottom: 7px;
    color:hsl(270, 9%, 17%);
    font-weight: 700;
}
li:hover{
    text-decoration: underline;
}
h4{
    margin-bottom: 20px;
    color: hsl(273, 4%, 51%);
    font-weight: 700;
}
.logo {
    cursor: pointer;
}
@media only screen and (max-width:375px){
    header .family-section {
        display: block;
        text-align: left;
    }   
    h1{
        text-align: center;
    }
    }