@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
--Dark-Violet: hsl(256, 26%, 20%)
--Grayish-Blue: hsl(216, 30%, 68%)
--Very-Dark-Violet: hsl(270, 9%, 17%)
--Dark-Grayish-Violet:hsl(273, 4%, 51%)
--Very-Light-Gray:hsl(0, 0%, 98%)
}
body{
font-family: 'Karla', sans-serif 'DM Serif Display', serif;
font-size: 16px;
font-weight: 400;
}
header{
}
header .logo{
    display: flex;
    justify-content: center;
    height: 30px;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    margin:10px 150px;
}
div .logo{
    align-items: center;
}
.content-wrapper nav a {
    text-decoration: none;
    font-size: 16px;
    color: hsl(273, 4%, 51%);
    padding: 0px 10px;
    cursor: pointer;
}
.content-wrapper a:hover{
    color: hsl(270, 9%, 17%);
    font-weight: 700;
}
.content-wrapper button {
    background-color: white;
    font-size: 12px;
    font-size: bold;
    width: 130px;
    height: 30px;
    cursor: pointer;
}
.content-wrapper button:hover{
    background-color:hsl(270, 9%, 17%);
    color: white;
}
.family-section {
display: flex;
justify-content: space-around;
align-items: center;
background-color:hsl(256, 26%, 20%);
}
.family-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}
.family-text-container h1{
font-size: 80px;
font-weight: 700;
line-height: 0.8;
margin-bottom: 30px;
}
.family-text-container p {
    color:hsl(0, 0%, 98%) ;
    font-weight: 500;
}
.family-text-container button {
    background-color: hsl(256, 26%, 20%);
    border: 1px solid white;
    color: white;
    font-size: 12px;
    font-size: bold;
    width: 130px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
}
.family-text-container button:hover{
    background-color: white;
    color: black;
}
.family-img-container img {
    display: flex;
    width: 80%;
    margin-top: 70px;
}
